* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background: #14161C;
  --background-button: #818384;
  --text-button: #FFF;
  --border: #585858;
}

body {
  background-color: var(--background);
  font-family: 'Robot', sans-serif;
}

header {
  width: 100%;
  height: 5rem;
  border-bottom: 1px solid var(--background-button);
  position: relative;
}

header img {
  width: 51px;
  height: 51px;
  position: absolute;
  margin-top: 0.9rem;
  margin-left: 4rem;
}

.board {
  width: 330px;
  height: 397px;
  margin: 7rem auto 0;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
}

.keyboard {
  width: 475px;
  height: 184px;
  margin: 2.5rem auto 0;
  border: 1px solid green;

  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.line {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.retangle {
  width: 62px;
  height: 62px;
  border: 1px solid var(--border);
}

.letter {
  width: 43px;
  height: 58px;
  color: var(--text-button);
  background: var(--background-button);

  display: flex;
  justify-content: center;
  align-items: center;
}

#enter:first-child {
  width: 83px;
}
